[toptal]
aws_access_key_id = {{ (onepasswordDetailsFields "qqfo6uyrx4zie367tzdzs5s3em").username.value }}
aws_secret_access_key = {{ (onepasswordDetailsFields "qqfo6uyrx4zie367tzdzs5s3em").password.value }}

[octos]
aws_access_key_id = {{ (onepasswordDetailsFields "eut5x4omyjeskksfcnf2vvabey").username.value }}
aws_secret_access_key = {{ (onepasswordDetailsFields "eut5x4omyjeskksfcnf2vvabey").password.value }}
