{{define "gpg_key"}}
{{- $gpg_get_key := "gpg --list-secret-keys --keyid-format=long" -}}
{{- $gpg_extract_ssb := "grep '^ssb' | awk '{print $2}' | cut -d'/' -f2 | tr -d '\n'" -}}
{{ output "sh" "-c" (printf "%s %s | %s" $gpg_get_key . $gpg_extract_ssb) | quote -}}
{{end -}}

[diff]
  format = "git"
  pager = "delta"

[data.github]
  username = "bamorim"
  token = {{ (onepasswordDetailsFields "ur647w55wx2o4pf3fx7d2z4ada").password.value | quote }}

[data.git]
  email = "contato@bamorim.com"
  signing_key = {{ template "gpg_key" "contato@bamorim.com" }}

[data.heroku]
  username = {{ (onepasswordDetailsFields "ug2d3ssijhy353ajrffwx2lwei").username.value | quote }}
  password = {{ (onepasswordDetailsFields "ug2d3ssijhy353ajrffwx2lwei").password.value | quote }}

[data.pulumi]
  token = {{ (onepasswordDetailsFields "tmqlgotrl6aanzjga5i5oqagz4").password.value | quote }}
  octos.token = {{ (onepasswordDetailsFields "vp4hh3gjwebnghzsfan4mvvjwu").password.value | quote }}

[data.ngrok]
  token = {{ (onepasswordDetailsFields "dr4s4kl3vwiiky7lbzg3sm46om").password.value | quote }}
