[submodule "home/vim/bundle/ctrlp.vim"]
	path = home/vim/bundle/ctrlp.vim
	url = git@github.com:kien/ctrlp.vim.git
[submodule "home/vim/bundle/nerdtree"]
	path = home/vim/bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "home/vim/bundle/vim-rails"]
	path = home/vim/bundle/vim-rails
	url = git@github.com:tpope/vim-rails.git
[submodule "home/vim/bundle/vim-bundler"]
	path = home/vim/bundle/vim-bundler
	url = git@github.com:tpope/vim-bundler.git
[submodule "home/vim/bundle/vim-jsx"]
	path = home/vim/bundle/vim-jsx
	url = git@github.com:mxw/vim-jsx.git
[submodule "home/vim/bundle/vim-less"]
	path = home/vim/bundle/vim-less
	url = git@github.com:groenewege/vim-less.git
[submodule "home/vim/bundle/vim-markdown"]
	path = home/vim/bundle/vim-markdown
	url = git@github.com:plasticboy/vim-markdown.git
[submodule "home/vim/bundle/vim-javascript"]
  path = home/vim/bundle/vim-javascript
  url = git@github.com:pangloss/vim-javascript.git
[submodule "home/vim/bundle/vim-ruby-xmpfilter"]
	path = home/vim/bundle/vim-ruby-xmpfilter
	url = git@github.com:t9md/vim-ruby-xmpfilter.git
[submodule "home/vim/bundle/vim-handlebars"]
	path = home/vim/bundle/vim-handlebars
	url = git@github.com:nono/vim-handlebars.git
[submodule "home/vim/bundle/tern_for_vim"]
	path = home/vim/bundle/tern_for_vim
	url = git@github.com:marijnh/tern_for_vim.git
[submodule "home/vim/bundle/vim-coffee-script"]
	path = home/vim/bundle/vim-coffee-script
	url = git@github.com:kchmck/vim-coffee-script.git
[submodule "home/vim/bundle/tabular"]
	path = home/vim/bundle/tabular
	url = git://github.com/godlygeek/tabular.git
[submodule "home/vim/bundle/vim-scala"]
	path = home/vim/bundle/vim-scala
	url = https://github.com/derekwyatt/vim-scala.git
[submodule "home/vim/bundle/vim-snippets"]
	path = home/vim/bundle/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "home/vim/bundle/ultisnips"]
	path = home/vim/bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "home/vim/bundle/apiblueprint.vim"]
	path = home/vim/bundle/apiblueprint.vim
	url = https://github.com/kylef/apiblueprint.vim.git
[submodule "home/vim/bundle/happy.vim"]
	path = home/vim/bundle/happy.vim
	url = https://github.com/vim-scripts/happy.vim.git
[submodule "home/vim/bundle/vim-elixir"]
	path = home/vim/bundle/vim-elixir
	url = https://github.com/elixir-lang/vim-elixir.git
[submodule "home/vim/bundle/vim-airline"]
	path = home/vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "home/vim/bundle/rust.vim"]
	path = home/vim/bundle/rust.vim
	url = git@github.com:rust-lang/rust.vim.git
[submodule "home/vim/bundle/elm-vim"]
	path = home/vim/bundle/elm-vim
	url = https://github.com/elmcast/elm-vim.git
