[submodule "vim/bundle/ctrlp.vim"]
	path = vim/bundle/ctrlp.vim
	url = git@github.com:kien/ctrlp.vim.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "vim/bundle/vim-rails"]
	path = vim/bundle/vim-rails
	url = git@github.com:tpope/vim-rails.git
[submodule "vim/bundle/vim-bundler"]
	path = vim/bundle/vim-bundler
	url = git@github.com:tpope/vim-bundler.git
[submodule "vim/bundle/vim-jsx"]
	path = vim/bundle/vim-jsx
	url = git@github.com:mxw/vim-jsx.git
[submodule "vim/bundle/vim-less"]
	path = vim/bundle/vim-less
	url = git@github.com:groenewege/vim-less.git
[submodule "vim/bundle/vim-markdown"]
	path = vim/bundle/vim-markdown
	url = git@github.com:plasticboy/vim-markdown.git
[submodule "vim/bundle/vim-javascript"]
  path = vim/bundle/vim-javascript
  url = git@github.com:pangloss/vim-javascript.git
[submodule "vim/bundle/vim-ruby-xmpfilter"]
	path = vim/bundle/vim-ruby-xmpfilter
	url = git@github.com:t9md/vim-ruby-xmpfilter.git
[submodule "vim/bundle/vim-handlebars"]
	path = vim/bundle/vim-handlebars
	url = git@github.com:nono/vim-handlebars.git
[submodule "vim/bundle/YouCompleteMe"]
	path = vim/bundle/YouCompleteMe
	url = git@github.com:Valloric/YouCompleteMe.git
[submodule "vim/bundle/tern_for_vim"]
	path = vim/bundle/tern_for_vim
	url = git@github.com:marijnh/tern_for_vim.git
