[core]
	excludesfile = ~/.gitignore_global
	autocrlf = input
	editor = vim
	ignorecase = false

[user]
	email = {{ .git.email }}
	name = Bernardo Amorim

[push]
	default = simple

[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	next = !git checkout `git rev-list HEAD..demo-end | tail -1`
	prev = checkout HEAD^
	peek-next = !git log -1 --pretty=format:%s `git rev-list HEAD..demo-end | tail -1` | cat
	diff-next = !git diff HEAD `git rev-list HEAD..demo-end | tail -1`
	next-force = !git add . && git reset --hard && git next

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[pull]
	rebase = true

[rebase]
	autosquash = true

[init]
	defaultBranch = main

[include]
	path = ~/.gitconfig-host

[url "ssh://git@github.com/"]
    insteadOf = https://github.com/
