#!/usr/bin/env bash
function login() {
  PULUMI_ACCESS_TOKEN=$1 pulumi login
}

function login_for() {
  PULUMI_HOME="$HOME/.pulumi-$1" login $2
}

login {{ .pulumi.token }}
login_for octos {{ .pulumi.octos.token }}
