export AWS_ACCESS_KEY_ID={{ (onepasswordDetailsFields "eut5x4omyjeskksfcnf2vvabey").username.value }}
export AWS_SECRET_ACCESS_KEY={{ (onepasswordDetailsFields "eut5x4omyjeskksfcnf2vvabey").password.value }}
export PULUMI_HOME="$HOME/.pulumi-octos"